{% extends 'base.html' %}
{% load app %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{ post.title }}</p>
        <p>投稿者：{{ post.user}}</p>
        <p>投稿内容：{{ post.content | markdown_to_html | safe }}</p>
        
        {% if post.tag.all %}
        <p>
          ハッシュタグ:
          {% for tag in post.tag.all %}
            {% if tag.name %}
            #{{ tag.name }}
            {% endif %}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>編集確認</h2>
            <div class="border p-4 mt-4">
                <h4>コメント内容:</h4>
                <p>{{ comment.content | markdown_to_html | safe }}</p>
            </div>
            <div class="mt-4">
                <a href="{% url 'snsapp:comment-update' comment.pk %}" class="btn btn-secondary">戻る</a>
                <a href="{% url 'snsapp:detail'  post.pk %}" class="btn btn-primary">コメント編集を確認</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
