{% extends 'base.html' %}
{% load app %}
{% load static %}
{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container mt-4">
    <div class="alert alert-success" role="alert">
        <p>タイトル：{{ post.title }}</p>
        <p>投稿者：{{ post.user}}</p>
        <p>投稿内容：{{ post.content | markdown_to_html | safe }}</p>
        
        {% if post.tag.all %}
        <p>
          ハッシュタグ:
          {% for tag in post.tag.all %}
            {% if tag.name %}
            #{{ tag.name }}
            {% endif %}
            {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" class="border p-4">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_content">コメント</label>
                    {{ form.content }}
                </div>
                <a href="{% url 'snsapp:detail' post.pk %}" class="btn btn-secondary mt-3">戻る</a>
                <button type="submit" class="btn btn-primary mt-3">編集</button>
            </form>
        </div>
    </div>
</div>
{{ form.media }}
<!-- highlight.js関連の読み込み -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dracula.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script>

const elements = document.getElementsByClassName('markdownx');
for (element of elements) {
    element.addEventListener('markdownx.update', event => {
        for (const block of document.querySelectorAll('pre code')) {
            hljs.highlightBlock(block);
        }
    });
}
</script>
{% endblock %}
